$em-base: 16px;

$fs-default: 16px;
$lh-default: 1.6875; // 27px

$f-light-italic: "Soho Gothic W02 Light Italic", verdana, tahoma, arial, sans-serif;
$f-bold-italic: "Soho Gothic W02 Bold Italic", verdana, tahoma, arial, sans-serif;

$f-light-normal: "Soho Gothic W02 Light", verdana, tahoma, arial, sans-serif;
$f-bold-normal: "Soho Gothic W02 Medium", verdana, tahoma, arial, sans-serif;