%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

%hide-text {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

%button {
  position: relative;
  display: inline-block;
  padding: .5rem 1.5rem;
  border: solid rem(1) gray;
  color: gray;
  background-color: transparent;
  text-transform: uppercase;

  &:hover,
  &:focus {
    padding-right: 2.5rem;
  }
}