form {}

label {}

fieldset {}

legend {}

select,
input,
textarea {}

select {}

textarea {}

input[type="text"],
input[type="email"],
input[type="password"] {}

input[type="submit"],
button {}

input[type="checkbox"],
input[type="radio"] {}


::-webkit-input-placeholder {
  color: gray;
}

:-moz-placeholder {
  color: gray;
  opacity: 1;
}

::-moz-placeholder {
  color: gray;
  opacity: 1;
}

:-ms-input-placeholder {
  color: gray;
}