html {}

body {}

a,
a:visited {}

a:hover {}

a:active {}

address {}

h1, h2, h3, h4, h5, h6 {}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

cite {}

p {}

ul, ol {}

li {}

table {}

tr {}

th, td {  }

img {
  display: block;
  max-width: 100%;
  height: auto;
}