$icons: (
        sprite: (
                w: {{spriteWidth}}px,
                h: {{spriteHeight}}px,
                //png_path: '../img/sprite.css.png',
                svg_path: '../images/optimized/sprite/svg/sprite.css.svg'
        ),
        {{#shapes}}
        {{base}}: (
                w: {{width.inner}}px,
                h: {{height.inner}}px,
                x: {{position.absolute.x}}px,
                y: {{position.absolute.y}}px
        ),
        {{/shapes}}
);